<h1>Tools:</h1>
<br>
<div class="add-buttons-list">
<p class="btn-add">
<a class="btn" href="/publishers/new">Add new publisher</a>
</p>
<br>
<p class="btn-add">
<a class="btn" href="/developers/new">Add new developer</a>
</p>
<br>
<p class="btn-add">
<a class="btn" href="/games/new">Add new game</a>
</p>
<br>
<p class="btn-add">
<a class="btn" href="/tags/new">Add new tag</a>
</p>
</div>
