<h1>About us</h1>
<div class="contact-info">  
<p>This wonderfull software was made by EFinv based in Edinburgh.</p>

<address>
All question will be answered at: <a href="mailto:questions@EFinv.mail">questions@EFinv.mail</a>.<br>
Visit us at:<br>
EFinv.com<br>
56, Meadows Park, Edinburgh<br>
Scotland
</address>

</div>
