<h1>EFinv inventory management</h1>

<p>testing, testing, testing</p>

<div class="flex-container">
  <div>
    <h2>Tools:</h2>
    <a class="btn" href="/publishers/new">Add new publisher</a>
    <br>
    <a class="btn" href="/developers/new">Add new developer</a>
    <br>
    <a class="btn" href="/games/new">Add new game</a>
    <br>
    <a class="btn" href="/tags/new">Add new tag</a>

  </div>
  <div>
    <h2> Low Stock games: </h2>
  </div>
  <div>3 boxy moxy</div>
  <div>4 boxy moxy</div>

</div>
