<h1>EFinv inventory management</h1>

<div class="flex-container">
  <div>
    <h2>Tools:</h2>
    <ul>
      <li><a class="btn" href="/publishers/new">Add new publisher</a></li>
      <li><a class="btn" href="/developers/new">Add new developer</a></li>
      <li><a class="btn" href="/games/new">Add new game</a></li>
      <li><a class="btn" href="/tags/new">Add new tag</a></li>
      <li><a class="btn" href="#">Add new user</a></li>
    </ul>


  </div>
  <div>
    <h2> Lists: </h2>
    <ul>
      <li><a class = "index-link" href="/games/sorted/by/low-stock">List of low stock games</a></li>
      <li><a class = "index-link" href="/games/sorted/by/price">List of games by selling price</a></li>
      <li><a class = "index-link" href="/games/sorted/by/cost">List of games by buying cost</a></li>
      <li><a class = "index-link" href="/games/sorted/by/stock">List of games by stock_quantity</a></li>
    </ul>
  </div>
  <div>
    <h2>Reports:</h2>
    <p>Stock value: £<%= Game.all_stock_value%></p>
    <p>Total profits forecast: £<%= Game.predicted_total_profits%></p>
  </div>

</div>
