<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>EFinv</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/left.css">
  <link rel="stylesheet" type="text/css" href="/styles/flex.css">
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
</head>
<body>
  <header>
    <div id="header">
      <img style="float: left; margin: 0px 15px 15px 0px; height: 80px; width: 100px;"
      src="/images/EFinbor.png" alt="EFinv logo" />
      <div class="logged-user">
        <p>User: Alice</p>
        <img class ="usera" style="display: inline; height: 80px; width: 58px;" src="/images/user.png" alt="user Alice" />
      </div>
    </div>
  </header>

  <div class="sidenav">
    <a href="/">Home</a>
    <a href="/games">Games</a>
    <a href="/developers">Developers</a>
    <a href="/publishers">Publishers</a>
    <a href="/tools">Tools</a>
    <a href="/about">About</a>
    <a href="#">Contact</a>
  </div>

  <section id="content">
    <%= yield %>
  </section>

  <div id="footer">
    <footer>
      <p>&copy EFinv 2018</p>
    </footer>
  </div>
</body>
</html>
