<h1>Create new developer</h1>

<form class="form" action="/developers" method="post">
  <div class="form">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"/><br>

    <label for="location">Location:</label>
    <input type="text" name="location" id="location"/>

    <label for="location">Logo image link:</label>
    <input type="text" name="img_link" id="img_link"/>
  </div>

  <div class="btn_submit">
    <input type="submit" value="Create developer"/>
  </div>

</form>
