* {
  margin: 0;
}

body {
  padding: 0;
}

h1 {
  text-align: center;
  font-family: fantasy;
}

td {
  padding-left: 15px;
}

.logos img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.usera {
  border-radius: 50%;
}


.products {
  padding: 15px;
}

h6 {
  text-align: center;
  font-size: 12px;
}

header {
  padding-top: 0;
  background-color: pink;
  top: 0;
  width: 100%;
  position: absolute;
  height: 100px;
  background-image: linear-gradient(pink, gold);
}
header .logged-user {
  float: right;
  padding-right: 25px;

}

#header {
  height: 100px;
  display: inline;
  background-color: pink;
  width: 100%;
}

#content{
  padding-bottom:60px;
  margin-top: 100px;
  min-height: 100vh;
  /* margin-left: 200px; */
  background-color: gold;
  background-image: linear-gradient(gold, yellow);

}


#content .description {
  padding-top: 30px;
  text-align: justify;
  text-indent: 50px;
  padding-left: 100px;
}

#content .description p {
  padding-left: 125px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
}

#footer {
   position: sticky;
   bottom:0;
   width:100%;
   height:60px;
   background-color: pink;
   background-image: linear-gradient(yellow, pink);
}

#footer p {
  font-family: fantasy;
}

.tags p {
  text-align: center;
}

tr:nth-child(even) {
    background: #F3D9D2;
}

#content .contact-info p {
  padding-left: 180px;
}

#content .contact-info address {
  padding-left: 180px;
  padding-top: 10px;
}

form  { display: table;      }
div .form    { display: table-row;  }
form label { display: table-cell; }
form input { display: table-cell; }
form select { display: table-cell; }
