<h2>Editing <%= @publisher.name %></h2>

<form class="form" action="/publishers/<%= @publisher.id%>" method="post">
  <label for="name">Company name:</label>
  <input id = "name" type="text" name="name" value="<%= @publisher.name%>">

  <label for="location">Location:</label>
  <input id = "location" type="text" name="location" value="<%= @publisher.location%>">

  <input class= "btn-submit" type="submit" value="update">
</form>
