<h1>Publishers</h1>



<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Location</th>
  </tr>
  <% for publisher in @publishers %>
  <tr>
    <td><a href="/publishers/<%= publisher.id %>"><%= publisher.name %></a></td>
    <td>|</td>
    <td><%= publisher.location %></td>
  </tr>
  <% end %>
</table>

<p class="btn-add">
  <a class="btn" href="/publishers/new">Create new publisher</a>
</p>
